lib/mktows_1_2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.marketo.com/mktows/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" name="mktows" targetNamespace="http://www.marketo.com/mktows/">
  <wsdl:types>
    <xs:schema targetNamespace="http://www.marketo.com/mktows/">
      <!-- ***************************************************************** -->
      <!-- **                       Enumerations                          ** -->
      <!-- ***************************************************************** -->
      <xs:simpleType name="LeadKeyRef">
        <xs:restriction base="xs:string">
          <xs:enumeration value="IDNUM"/>
          <xs:enumeration value="COOKIE"/>
          <xs:enumeration value="EMAIL"/>
          <xs:enumeration value="LEADOWNEREMAIL"/>
          <xs:enumeration value="SFDCACCOUNTID"/>
          <xs:enumeration value="SFDCCONTACTID"/>
          <xs:enumeration value="SFDCLEADID"/>
          <xs:enumeration value="SFDCLEADOWNERID"/>
          <xs:enumeration value="SFDCOPPTYID"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="LeadSyncStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CREATED"/>
          <xs:enumeration value="UPDATED"/>
          <xs:enumeration value="FAILED"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ActivityType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="VisitWebpage"/>
          <xs:enumeration value="FillOutForm"/>
          <xs:enumeration value="ClickLink"/>
          <xs:enumeration value="RegisterForEvent"/>
          <xs:enumeration value="AttendEvent"/>
          <xs:enumeration value="SendEmail"/>
          <xs:enumeration value="EmailDelivered"/>
          <xs:enumeration value="EmailBounced"/>
          <xs:enumeration value="UnsubscribeEmail"/>
          <xs:enumeration value="OpenEmail"/>
          <xs:enumeration value="ClickEmail"/>
          <xs:enumeration value="NewLead"/>
          <xs:enumeration value="ChangeDataValue"/>
          <xs:enumeration value="LeadAssigned"/>
          <xs:enumeration value="NewSFDCOpprtnty"/>
          <xs:enumeration value="Wait"/>
          <xs:enumeration value="RunSubflow"/>
          <xs:enumeration value="RemoveFromFlow"/>
          <xs:enumeration value="PushLeadToSales"/>
          <xs:enumeration value="CreateTask"/>
          <xs:enumeration value="ConvertLead"/>
          <xs:enumeration value="ChangeScore"/>
          <xs:enumeration value="ChangeOwner"/>
          <xs:enumeration value="AddToList"/>
          <xs:enumeration value="RemoveFromList"/>
          <xs:enumeration value="SFDCActivity"/>
          <xs:enumeration value="EmailBouncedSoft"/>
          <xs:enumeration value="PushLeadUpdatesToSales"/>
          <xs:enumeration value="DeleteLeadFromSales"/>
          <xs:enumeration value="SFDCActivityUpdated"/>
          <xs:enumeration value="SFDCMergeLeads"/>
          <xs:enumeration value="MergeLeads"/>
          <xs:enumeration value="ResolveConflicts"/>
          <xs:enumeration value="AssocWithOpprtntyInSales"/>
          <xs:enumeration value="DissocFromOpprtntyInSales"/>
          <xs:enumeration value="UpdateOpprtntyInSales"/>
          <xs:enumeration value="DeleteLead"/>
          <xs:enumeration value="SendAlert"/>
          <xs:enumeration value="SendSalesEmail"/>
          <xs:enumeration value="OpenSalesEmail"/>
          <xs:enumeration value="ClickSalesEmail"/>
          <xs:enumeration value="AddtoSFDCCampaign"/>
          <xs:enumeration value="RemoveFromSFDCCampaign"/>
          <xs:enumeration value="ChangeStatusInSFDCCampaign"/>
          <xs:enumeration value="ReceiveSalesEmail"/>
          <xs:enumeration value="InterestingMoment"/>
          <xs:enumeration value="RequestCampaign"/>
          <xs:enumeration value="SalesEmailBounced"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ForeignSysType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CUSTOM"/>
          <xs:enumeration value="SFDC"/>
          <xs:enumeration value="NETSUITE"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ReqCampSourceType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="MKTOWS"/>
          <xs:enumeration value="SALES"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ListKeyType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="MKTOLISTNAME"/>
          <xs:enumeration value="MKTOSALESUSERID"/>
          <xs:enumeration value="SFDCLEADOWNERID"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ListOperationType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ADDTOLIST"/>
          <xs:enumeration value="ISMEMBEROFLIST"/>
          <xs:enumeration value="REMOVEFROMLIST"/>
        </xs:restriction>
      </xs:simpleType>

      <!-- ***************************************************************** -->
      <!-- **                  Data Types for all APIs                    ** -->
      <!-- ***************************************************************** -->
      <xs:complexType name="ArrayOfActivityType">
        <xs:sequence>
          <xs:element name="activityType" type="tns:ActivityType" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ActivityTypeFilter">
        <xs:sequence>
          <xs:element name="includeTypes" type="tns:ArrayOfActivityType" minOccurs="0" maxOccurs="1" nillable="false"/>
          <xs:element name="excludeTypes" type="tns:ArrayOfActivityType" minOccurs="0" maxOccurs="1" nillable="false"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Attribute">
        <xs:sequence>
          <xs:element name="attrName" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="attrType" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xs:element name="attrValue" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfAttribute">
        <xs:sequence>
          <xs:element name="attribute" type="tns:Attribute" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LeadRecord">
        <xs:sequence>
          <xs:element name="Id" type="xs:int" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xs:element name="Email" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xs:element name="ForeignSysPersonId" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
          <!-- ForeignSysType must be specified when ForeignSysPersonId is present -->
          <xs:element name="ForeignSysType" type="tns:ForeignSysType" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xs:element name="leadAttributeList" type="tns:ArrayOfAttribute" minOccurs="0" maxOccurs="1" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfLeadRecord">
        <xs:sequence>
          <xs:element name="leadRecord" type="tns:LeadRecord" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ActivityRecord">
        <xs:sequence>
          <xs:element name="id" type="xs:int" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="activityDateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="activityType" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="mktgAssetName" type="xs:string" minOccurs="0" maxOccurs="1" nillable="false"/>
          <xs:element name="activityAttributes" type="tns:ArrayOfAttribute" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xs:element name="campaign" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xs:element name="personName" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xs:element name="mktPersonId" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="foreignSysId" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xs:element name="orgName" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xs:element name="foreignSysOrgId" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CampaignRecord">
        <xs:sequence>
          <xs:element name="id" type="xs:int" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfCampaignRecord">
        <xs:sequence>
          <xs:element name="campaignRecord" type="tns:CampaignRecord" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LeadChangeRecord">
        <xs:sequence>
          <xs:element name="id" type="xs:int" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="activityDateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="activityType" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="mktgAssetName" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xs:element name="activityAttributes" type="tns:ArrayOfAttribute" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xs:element name="campaign" type="xs:string" minOccurs="0" maxOccurs="1" nillable="false"/>
          <xs:element name="mktPersonId" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfLeadChangeRecord">
        <xs:sequence>
          <xs:element name="leadChangeRecord" type="tns:LeadChangeRecord" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfActivityRecord">
        <xs:sequence>
          <xs:element name="activityRecord" type="tns:ActivityRecord" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LeadKey">
        <xs:sequence>
          <xs:element name="keyType" type="tns:LeadKeyRef" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="keyValue" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfLeadKey">
        <xs:sequence>
          <xs:element name="leadKey" type="tns:LeadKey" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LeadStatus">
        <xs:sequence>
          <xs:element name="leadKey" type="tns:LeadKey" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="status" type="xs:boolean" minOccurs="1" maxOccurs="1" nillable="false"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfLeadStatus">
        <xs:sequence>
          <xs:element name="leadStatus" type="tns:LeadStatus" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ListKey">
        <xs:sequence>
          <xs:element name="keyType" type="tns:ListKeyType" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="keyValue" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="StreamPosition">
        <xs:sequence>
          <xs:element name="latestCreatedAt" type="xs:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xs:element name="oldestCreatedAt" type="xs:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xs:element name="activityCreatedAt" type="xs:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xs:element name="offset" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
       </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SyncStatus">
        <xs:sequence>
          <xs:element name="leadId" type="xs:int" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="status" type="tns:LeadSyncStatus" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="error" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfSyncStatus">
        <xs:sequence>
          <xs:element name="syncStatus" type="tns:SyncStatus" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfBase64Binary">
        <xs:sequence>
          <xs:element name="base64Binary" type="xs:base64Binary" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VersionedItem">
         <xs:sequence>
           <xs:element name="id" type="xs:integer" minOccurs="1" maxOccurs="1" nillable="false"/>
           <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false"/>
           <xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true" />
           <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
           <xs:element name="timestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1" nillable="false"/>
         </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfVersionedItem">
         <xs:sequence>
           <xs:element name="versionedItem" type="tns:VersionedItem" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
         </xs:sequence>
      </xs:complexType>

      <!-- ***************************************************************** -->
      <!-- **                     Params for all APIs                     ** -->
      <!-- ***************************************************************** -->
      <xs:complexType name="ParamsGetCampaignsForSource">
        <xs:sequence>
          <xs:element name="source" type="tns:ReqCampSourceType" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xs:element name="exactName" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParamsGetLead">
        <xs:sequence>
          <xs:element name="leadKey" type="tns:LeadKey" minOccurs="1" maxOccurs="1" nillable="false"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParamsGetLeadActivity">
        <xs:sequence>
          <xs:element name="leadKey" type="tns:LeadKey" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="activityFilter" type="tns:ActivityTypeFilter" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xs:element name="startPosition" type="tns:StreamPosition" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xs:element name="batchSize" type="xs:int" minOccurs="0" maxOccurs="1" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParamsGetLeadChanges">
        <xs:sequence>
          <xs:element name="startPosition" type="tns:StreamPosition" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="activityFilter" type="tns:ActivityTypeFilter" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xs:element name="batchSize" type="xs:int" minOccurs="0" maxOccurs="1" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParamsGetMultipleLeads">
        <xs:sequence>
          <xs:element name="lastUpdatedAt" type="xs:dateTime" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="streamPosition" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xs:element name="batchSize" type="xs:int" minOccurs="0" maxOccurs="1" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParamsListOperation">
        <xs:sequence>
          <xs:element name="listOperation" type="tns:ListOperationType" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="listKey" type="tns:ListKey" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="listMemberList" type="tns:ArrayOfLeadKey" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="strict" type="xs:boolean" minOccurs="0"  maxOccurs="1" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParamsRequestCampaign">
        <xs:sequence>
          <xs:element name="source" type="tns:ReqCampSourceType" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="campaignId" type="xs:int" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="leadList" type="tns:ArrayOfLeadKey" minOccurs="1" maxOccurs="1" nillable="false"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParamsSyncLead">
        <xs:sequence>
          <xs:element name="leadRecord" type="tns:LeadRecord" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="returnLead" type="xs:boolean" minOccurs="1"  maxOccurs="1" nillable="false"/>
          <xs:element name="marketoCookie" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParamsSyncMultipleLeads">
        <xs:sequence>
          <xs:element name="leadRecordList" type="tns:ArrayOfLeadRecord" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="dedupEnabled" type="xs:boolean" minOccurs="0"  maxOccurs="1" nillable="true"/>
        </xs:sequence>
      </xs:complexType>

      <!-- ***************************************************************** -->
      <!-- **                    Result for all APIs                      ** -->
      <!-- ***************************************************************** -->
      <xs:complexType name="LeadActivityList">
        <xs:sequence>
          <xs:element name="returnCount" type="xs:int" minOccurs="1" maxOccurs="1"/>
          <xs:element name="remainingCount" type="xs:int" minOccurs="1" maxOccurs="1"/>
          <xs:element name="newStartPosition" type="tns:StreamPosition" minOccurs="1" maxOccurs="1"/>
          <xs:element name="activityRecordList" type="tns:ArrayOfActivityRecord" minOccurs="0" maxOccurs="1" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResultGetCampaignsForSource">
        <xs:sequence>
          <xs:element name="returnCount" type="xs:int" minOccurs="1" maxOccurs="1"/>
          <xs:element name="campaignRecordList" type="tns:ArrayOfCampaignRecord" minOccurs="0" maxOccurs="1" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResultGetLeadChanges">
        <xs:sequence>
          <xs:element name="returnCount" type="xs:int" minOccurs="1" maxOccurs="1"/>
          <xs:element name="remainingCount" type="xs:int" minOccurs="1" maxOccurs="1"/>
          <xs:element name="newStartPosition" type="tns:StreamPosition" minOccurs="1" maxOccurs="1"/>
          <xs:element name="leadChangeRecordList" type="tns:ArrayOfLeadChangeRecord" minOccurs="0" maxOccurs="1" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResultGetLead">
        <xs:sequence>
          <xs:element name="count" type="xs:int" minOccurs="1" maxOccurs="1"/>
          <xs:element name="leadRecordList" type="tns:ArrayOfLeadRecord" minOccurs="0" maxOccurs="1" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResultListOperation">
        <xs:sequence>
          <xs:element name="success" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
          <xs:element name="statusList" type="tns:ArrayOfLeadStatus" minOccurs="0"  maxOccurs="1" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResultGetMultipleLeads">
        <xs:sequence>
          <xs:element name="returnCount" type="xs:int" minOccurs="1" maxOccurs="1"/>
          <xs:element name="remainingCount" type="xs:int" minOccurs="1" maxOccurs="1"/>
          <xs:element name="newStreamPosition" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="leadRecordList" type="tns:ArrayOfLeadRecord" minOccurs="0" maxOccurs="1" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResultRequestCampaign">
        <xs:sequence>
          <xs:element name="success" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResultSyncLead">
        <xs:sequence>
          <xs:element name="leadId" type="xs:int" minOccurs="1" maxOccurs="1"/>
          <xs:element name="syncStatus" type="tns:LeadSyncStatus" minOccurs="1" maxOccurs="1"/>
          <xs:element name="leadRecord" type="tns:LeadRecord" minOccurs="0" maxOccurs="1" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResultSyncMultipleLeads">
        <xs:sequence>
          <xs:element name="syncStatusList" type="tns:ArrayOfSyncStatus" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>

      <!-- ***************************************************************** -->
      <!-- **                    Success for all APIs                     ** -->
      <!-- ***************************************************************** -->
      <xs:complexType name="SuccessGetCampaignsForSource">
        <xs:sequence>
          <xs:element name="result" type="tns:ResultGetCampaignsForSource" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SuccessGetLead">
        <xs:sequence>
          <xs:element name="result" type="tns:ResultGetLead" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SuccessGetLeadActivity">
        <xs:sequence>
          <xs:element name="leadActivityList" type="tns:LeadActivityList" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SuccessGetLeadChanges">
        <xs:sequence>
          <xs:element name="result" type="tns:ResultGetLeadChanges" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SuccessGetMultipleLeads">
        <xs:sequence>
          <xs:element name="result" type="tns:ResultGetMultipleLeads" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SuccessListOperation">
        <xs:sequence>
          <xs:element name="result" type="tns:ResultListOperation" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SuccessRequestCampaign">
        <xs:sequence>
          <xs:element name="result" type="tns:ResultRequestCampaign" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SuccessSyncLead">
        <xs:sequence>
          <xs:element name="result" type="tns:ResultSyncLead" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SuccessSyncMultipleLeads">
        <xs:sequence>
          <xs:element name="result" type="tns:ResultSyncMultipleLeads" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>

      
      <!-- ***************************************************************** -->
      <!-- **                 Authentication Header                       ** -->
      <!-- ***************************************************************** -->
      <!--
        The Authentication Header is a SOAP header used in all API calls.  The 
        mode element should not be used and is reserved for internal use.
       -->
      <xs:complexType name="AuthenticationHeaderInfo">
        <xs:sequence>
          <xs:element name="mktowsUserId" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="requestSignature" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="requestTimestamp" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="audit" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="mode" type="xs:int" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>

      <!-- ***************************************************************** -->
      <!-- **                     Message Elements                        ** -->
      <!-- ***************************************************************** -->
      <xs:element name="AuthenticationHeader" type="tns:AuthenticationHeaderInfo"/>
      <xs:element name="paramsGetCampaignsForSource" type="tns:ParamsGetCampaignsForSource"/>
      <xs:element name="paramsGetLead" type="tns:ParamsGetLead"/>
      <xs:element name="paramsGetLeadActivity" type="tns:ParamsGetLeadActivity"/>
      <xs:element name="paramsGetLeadChanges" type="tns:ParamsGetLeadChanges"/>
      <xs:element name="paramsGetMultipleLeads" type="tns:ParamsGetMultipleLeads"/>
      <xs:element name="paramsListOperation" type="tns:ParamsListOperation"/>
      <xs:element name="paramsRequestCampaign" type="tns:ParamsRequestCampaign"/>
      <xs:element name="paramsSyncLead" type="tns:ParamsSyncLead"/>
      <xs:element name="paramsSyncMultipleLeads" type="tns:ParamsSyncMultipleLeads"/>
      <xs:element name="successGetCampaignsForSource" type="tns:SuccessGetCampaignsForSource"/>
      <xs:element name="successGetLead" type="tns:SuccessGetLead"/>
      <xs:element name="successGetLeadActivity" type="tns:SuccessGetLeadActivity"/>
      <xs:element name="successGetLeadChanges" type="tns:SuccessGetLeadChanges"/>
      <xs:element name="successGetMultipleLeads" type="tns:SuccessGetMultipleLeads"/>
      <xs:element name="successListOperation" type="tns:SuccessListOperation"/>
      <xs:element name="successRequestCampaign" type="tns:SuccessRequestCampaign"/>
      <xs:element name="successSyncLead" type="tns:SuccessSyncLead"/>
      <xs:element name="successSyncMultipleLeads" type="tns:SuccessSyncMultipleLeads"/>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="AuthenticationHeader">
    <wsdl:part name="authentication" element="tns:AuthenticationHeader"/>
  </wsdl:message>
  <wsdl:message name="GetCampaignsForSourceRequest">
    <wsdl:part name="paramsGetCampaignsForSource" element="tns:paramsGetCampaignsForSource"/>
  </wsdl:message>
  <wsdl:message name="GetCampaignsForSourceResponse">
    <wsdl:part name="successGetCampaignsForSource" element="tns:successGetCampaignsForSource"/>
  </wsdl:message>
  <wsdl:message name="GetLeadRequest">
    <wsdl:part name="paramsGetLead" element="tns:paramsGetLead"/>
  </wsdl:message>
  <wsdl:message name="GetLeadResponse">
    <wsdl:part name="successGetLead" element="tns:successGetLead"/>
  </wsdl:message>
  <wsdl:message name="GetLeadActivityRequest">
    <wsdl:part name="paramsGetLeadActivity" element="tns:paramsGetLeadActivity"/>
  </wsdl:message>
  <wsdl:message name="GetLeadActivityResponse">
    <wsdl:part name="successGetLeadActivity" element="tns:successGetLeadActivity"/>
  </wsdl:message>
  <wsdl:message name="GetLeadChangesRequest">
    <wsdl:part name="paramsGetLeadChanges" element="tns:paramsGetLeadChanges"/>
  </wsdl:message>
  <wsdl:message name="GetLeadChangesResponse">
    <wsdl:part name="successGetLeadChanges" element="tns:successGetLeadChanges"/>
  </wsdl:message>
  <wsdl:message name="GetMultipleLeadsRequest">
    <wsdl:part name="paramsGetMultipleLeads" element="tns:paramsGetMultipleLeads"/>
  </wsdl:message>
  <wsdl:message name="GetMultipleLeadsResponse">
    <wsdl:part name="successGetMultipleLeads" element="tns:successGetMultipleLeads"/>
  </wsdl:message>
  <wsdl:message name="ListOperationRequest">
    <wsdl:part name="paramsListOperation" element="tns:paramsListOperation"/>
  </wsdl:message>
  <wsdl:message name="ListOperationResponse">
    <wsdl:part name="successListOperation" element="tns:successListOperation"/>
  </wsdl:message>
  <wsdl:message name="RequestCampaignRequest">
    <wsdl:part name="paramsRequestCampaign" element="tns:paramsRequestCampaign"/>
  </wsdl:message>
  <wsdl:message name="RequestCampaignResponse">
    <wsdl:part name="successRequestCampaign" element="tns:successRequestCampaign"/>
  </wsdl:message>
  <wsdl:message name="SyncLeadRequest">
    <wsdl:part name="paramsSyncLead" element="tns:paramsSyncLead"/>
  </wsdl:message>
  <wsdl:message name="SyncLeadResponse">
    <wsdl:part name="successSyncLead" element="tns:successSyncLead"/>
  </wsdl:message>
  <wsdl:message name="SyncMultipleLeadsRequest">
    <wsdl:part name="paramsSyncMultipleLeads" element="tns:paramsSyncMultipleLeads"/>
  </wsdl:message>
  <wsdl:message name="SyncMultipleLeadsResponse">
    <wsdl:part name="successSyncMultipleLeads" element="tns:successSyncMultipleLeads"/>
  </wsdl:message>

  <wsdl:portType name="MktowsPort">
    <wsdl:operation name="getCampaignsForSource">
      <wsdl:documentation>Get a list campaigns.
      </wsdl:documentation>
      <wsdl:input message="tns:GetCampaignsForSourceRequest"/>
      <wsdl:output message="tns:GetCampaignsForSourceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getLead">
      <wsdl:documentation>Get all details about a lead.
      </wsdl:documentation>
      <wsdl:input message="tns:GetLeadRequest"/>
      <wsdl:output message="tns:GetLeadResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getLeadActivity">
      <wsdl:documentation>Get all activity log details about a lead.
      </wsdl:documentation>
      <wsdl:input message="tns:GetLeadActivityRequest"/>
      <wsdl:output message="tns:GetLeadActivityResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getLeadChanges">
      <wsdl:documentation>Get changes for all leads.
      </wsdl:documentation>
      <wsdl:input message="tns:GetLeadChangesRequest"/>
      <wsdl:output message="tns:GetLeadChangesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getMultipleLeads">
      <wsdl:documentation>Get all details about one or more leads.
      </wsdl:documentation>
      <wsdl:input message="tns:GetMultipleLeadsRequest"/>
      <wsdl:output message="tns:GetMultipleLeadsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="listOperation">
      <wsdl:documentation>Perform an operation on a Marketo List, like add lead or remove lead.
      </wsdl:documentation>
      <wsdl:input message="tns:ListOperationRequest"/>
      <wsdl:output message="tns:ListOperationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="requestCampaign">
      <wsdl:documentation>Request to add a set of leads to a campaign.
      </wsdl:documentation>
      <wsdl:input message="tns:RequestCampaignRequest"/>
      <wsdl:output message="tns:RequestCampaignResponse"/>
    </wsdl:operation>
    <wsdl:operation name="syncLead">
      <wsdl:documentation>Create or update a lead.
      </wsdl:documentation>
      <wsdl:input message="tns:SyncLeadRequest"/>
      <wsdl:output message="tns:SyncLeadResponse"/>
    </wsdl:operation>
    <wsdl:operation name="syncMultipleLeads">
      <wsdl:documentation>Create or update one or more leads.
      </wsdl:documentation>
      <wsdl:input message="tns:SyncMultipleLeadsRequest"/>
      <wsdl:output message="tns:SyncMultipleLeadsResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="MktowsApiSoapBinding" type="tns:MktowsPort">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="getCampaignsForSource">
        <soap:operation soapAction="http://www.marketo.com/mktows/getCampaignsForSource" />
        <wsdl:input>
            <soap:header use="literal" part="authentication" message="tns:AuthenticationHeader" />
            <soap:body use="literal" />
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal" />
        </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getLead">
        <soap:operation soapAction="http://www.marketo.com/mktows/getLead" />
        <wsdl:input>
            <soap:header use="literal" part="authentication" message="tns:AuthenticationHeader" />
            <soap:body use="literal" />
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal" />
        </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getLeadActivity">
          <soap:operation soapAction="http://www.marketo.com/mktows/getLeadActivity" />
          <wsdl:input>
              <soap:header use="literal" part="authentication" message="tns:AuthenticationHeader" />
              <soap:body use="literal" />
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal" />
          </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getLeadChanges">
          <soap:operation soapAction="http://www.marketo.com/mktows/getLeadChanges" />
          <wsdl:input>
              <soap:header use="literal" part="authentication" message="tns:AuthenticationHeader" />
              <soap:body use="literal" />
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal" />
          </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getMultipleLeads">
        <soap:operation soapAction="http://www.marketo.com/mktows/getMultipleLeads" />
        <wsdl:input>
            <soap:header use="literal" part="authentication" message="tns:AuthenticationHeader" />
            <soap:body use="literal" />
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal" />
        </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="listOperation">
          <soap:operation soapAction="http://www.marketo.com/mktows/listOperation" />
          <wsdl:input>
              <soap:header use="literal" part="authentication" message="tns:AuthenticationHeader" />
              <soap:body use="literal" />
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal" />
          </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="requestCampaign">
        <soap:operation soapAction="http://www.marketo.com/mktows/requestCampaign" />
        <wsdl:input>
            <soap:header use="literal" part="authentication" message="tns:AuthenticationHeader" />
            <soap:body use="literal" />
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal" />
        </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="syncLead">
          <soap:operation soapAction="http://www.marketo.com/mktows/syncLead" />
          <wsdl:input>
              <soap:header use="literal" part="authentication" message="tns:AuthenticationHeader" />
              <soap:body use="literal" />
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal" />
          </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="syncMultipleLeads">
          <soap:operation soapAction="http://www.marketo.com/mktows/syncMultipleLeads" />
          <wsdl:input>
              <soap:header use="literal" part="authentication" message="tns:AuthenticationHeader" />
              <soap:body use="literal" />
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal" />
          </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="MktMktowsApiService">
      <wsdl:port name="MktowsApiSoapPort" binding="tns:MktowsApiSoapBinding">
          <soap:address location="http://localhost/soap/mktows" />
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
